@font-face{
	font-family: "Cabin Sketch";
	src: url("fonts/Cabin_Sketch/CabinSketch-Regular.ttf") format("truetype");
}

@font-face{
	font-family: "Exo2";
	src: url("fonts/Exo_2/Exo2-Regular.ttf") format("truetype");
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #ceb899;
}

.left{
  float: left;
}

.right{
  float: right;
}

.reveal footer{
  font-size: 0.5em;
}

.reveal h1,.reveal h2,.reveal h3,.reveal h4,.reveal h5,.reveal h6{
	font-family: "Cabin Sketch", helvetica, sans-serif;
	margin: 0 0 20px 0;
	line-height: 0.9em;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}

.reveal {
  font-family: "Exo2", helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  /*color: #42a4da;*/
  /*color: #3c92c4;*/
  color: #2d6f94;
}

.reveal figure > img {
  width: 60%;
  height: 60%;
}
.reveal figcaption{
  font-size: 20px;
}

.reveal ul{
  font-size: 0.8em;
  list-style: none;
}

.reveal .hats-off h1{
  margin: 0px;
}

.reveal #text:hover{
  margin-left: 65px;
  cursor: pointer;

  transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;

  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
}

.reveal #text{
  margin-left: 0px;
  cursor: pointer;

  transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;

  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
}

.reveal #text h1{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);

  transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;

  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
}


.reveal #text h1:hover{
  transform: rotate(220deg);
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -o-transform: rotate(220deg);


  transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;

  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
}

::selection {
  color: #000;
  background: #fff;
  text-shadow: none; 
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  background-color: #f4a919;
  color: #eee;
  text-decoration: none;
  -webkit-transition: background-color .4s ease;
  -moz-transition: background-color .4s ease;
  -ms-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.reveal a:not(.image):hover {
  background-color: #dc9917;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #eeeeff;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #0ccd90;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #42a4da;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #42a4da;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #42a4da;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #42a4da;
}

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #3b8cba;
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #3b8cba;
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #3b8cba;
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #3b8cba;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: #555;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #555;
}

/*********************************************
 * MISC
 *********************************************/
 .ib_span{
    display: inline-block;
 }

 #dom_structure > img{    
    width: 45%;
 }

 #html_tree > img{
  width: 80%;
 }